@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1F2937;
  color: white;
  font-family: 'Mukta';
}

.logo {
  font-family: 'Saira Stencil One';
}